@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import "tailwindcss";

@theme {
  --color-work: hsl(15 100% 70%);
  --color-play: hsl(195 74% 62%);
  --color-study: hsl(348 100% 68%);
  --color-exercise: hsl(145 58% 55%);
  --color-social: hsl(264 64% 52%);
  --color-self-care: hsl(43 84% 65%);

  --color-purple-600: hsl(246 80% 60%);
  --color-purple-500: hsl(235 45% 61%);

  --color-navy-950: hsl(226 43% 10%);
  --color-navy-900: hsl(235 46% 20%);
  --color-navy-200: hsl(236 100% 87%);

  --font-rubik: "Rubik", sans-serif;
}

.bg-work {
  background-color: var(--color-work);
}

.bg-play {
  background-color: var(--color-play);
}

.bg-study {
  background-color: var(--color-study);
}

.bg-exercise {
  background-color: var(--color-exercise);
}

.bg-social {
  background-color: var(--color-social);
}

.bg-self-care {
  background-color: var(--color-self-care);
}